---
import Layout from '~/layouts/PageLayout.astro';

import VideoHero from '~/components/widgets/VideoHero.astro';
import ProjectGrid from '~/components/widgets/ProjectGrid.astro';
import Brands from '~/components/widgets/Brands.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Water Atlas — Toronto Water Atlas',
  ignoreTitleTemplate: true,
};

const projects = [
  {
    title: "A People's Map of the Don River",
    subtitle: 'Investigating the histories and geographies of the Wonscontonach/Don River.',
    image: '/don-map/don-map-thumbnail.png',
    href: '/don-map/index.html',
  },
  {
    title: 'Water Attention Map',
    subtitle: "Which Waters Matter? Media Attention to Toronto's Waterways (2010–2025)",
    image: '/attention-map/attention-thumbnail.png',
    href: '/WaterAttention/rivers2.html',
  },
  {
    title: 'Runway Rivers',
    subtitle: 'Daylighting the lost waterways beneath Downsview Airport.',
    image: '/runway-rivers/runway-thumbnail.png',
    href: '/runway-rivers/index.html',
  },
  {
    title: 'Project Title 3',
    subtitle: 'Description of project 3',
    image: '/path-to-image-3.jpg',
    href: '/project-3',
  },
];
---

<Layout metadata={metadata}>
  <VideoHero videoSrc="/videos/water-bg.mp4" />
  
  <ProjectGrid 
    projects={projects}
  />

  <Brands
    title="Collaborators"
    icons={[]}
    images={[
      {
        src: '~/assets/images/tco.png',
        alt: 'Toronto Climate Observatory',
      },
      {
        src: '~/assets/images/uoft school of the env.png',
        alt: 'UofT School of the Environment',
      },
      {
        src: '~/assets/images/schoolforclimate.png',
        alt: 'School for Climate',
      },
    ]}
  />

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Join us',
        href: 'http://tiny.cc/wateratlasinterest',
        target: '_blank',
        icon: 'tabler:external-link',
      },
    ]}
  >
    <Fragment slot="title">Join Us in Shaping the Atlas</Fragment>
    <Fragment slot="subtitle">
      Please express interest by filling out <a href="http://tiny.cc/wateratlasinterest">the form below</a>!
    </Fragment>
  </CallToAction>
</Layout>
